openapi: 3.0.0
info:
  contact:
    email: tech@cfl.ca
  description: This is an attempt to encode the CFL API using Swagger Spec.
  license:
    name: CFL Public Licence
    url: http://api.cfl.ca/key-request/public-licence
  termsOfService: http://api.cfl.ca/docs
  title: CFL API
  version: "1.32"
externalDocs:
  description: Find out more about the CFL API
  url: http://api.cfl.ca/docs
servers:
- url: https://api.cfl.ca
- url: http://api.cfl.ca
tags:
- description: Everything about CFL games
  externalDocs:
    description: Find out more
    url: http://api.cfl.ca/docs#games
  name: Games
paths:
  /v1/games/{season}:
    get:
      operationId: getGames
      parameters:
      - description: Season to retrieve
        explode: false
        in: path
        name: season
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Games'
          description: Games from seaon
      security:
      - api_key: []
      summary: Get a list of all games in a particular season
      tags:
      - Games
  /v1/games/{season}/game/{gameId}:
    get:
      operationId: getGameById
      parameters:
      - description: Season to retrieve
        explode: false
        in: path
        name: season
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Specific game to retrieve
        explode: false
        in: path
        name: gameId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: |
          Additional game data can be optionally accessed through use of the include parameter. To get both the box score and play-by-play data in a single API request, pass both values separated by a comma: include=boxscore,play_by_play
        examples:
          one:
            summary: To get both the box score and play-by-play data in a single API request
            value: include=boxscore,play_by_play
        explode: false
        in: query
        name: include
        required: false
        schema:
          enum:
          - boxscore
          - play_by_play
          - rosters
          - penalties
          - play_reviews
          format: array
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Games'
          description: Games from seaon
      security:
      - api_key: []
      summary: Get data for a specific game
      tags:
      - Games
components:
  schemas:
    Games:
      example:
        data:
        - team_1:
            is_winner: true
            score: 7
            is_at_home: true
            nickname: nickname
            location: location
            team_id: 6
            abbreviation: abbreviation
            linescores:
            - ""
            - ""
            venue_id: 1
          venue:
            name: name
            venue_id: 1
          week: 1
          coin_toss:
            coin_toss_winner: coin_toss_winner
            coin_toss_winner_election: coin_toss_winner_election
          tickets_url: tickets_url
          game_duration: 2
          game_number: 6
          play_by_play:
          - play_id: 4
            play_clock_start: play_clock_start
            field_position_end: field_position_end
            play_clock_start_in_secs: 9
            play_sequence: 5
            yards_to_go: 8
            down: 6
            play_summary: play_summary
            quarter: 9
            field_position_start: field_position_start
          - play_id: 4
            play_clock_start: play_clock_start
            field_position_end: field_position_end
            play_clock_start_in_secs: 9
            play_sequence: 5
            yards_to_go: 8
            down: 6
            play_summary: play_summary
            quarter: 9
            field_position_start: field_position_start
          date_start: 2000-01-23T04:56:07.000+00:00
          event_type:
            name: name
            title: title
            event_type_id: 7
          weather:
            sky: sky
            field_conditions: field_conditions
            temperature: 1
            wind_speed: wind_speed
            wind_direction: wind_direction
          season: 5
          attendance: 5
          game_id: 0
          event_status:
            seconds: 4
            is_active: true
            minutes: 2
            name: name
            event_status_id: 9
            yards_to_go: 1
            down: 7
            quarter: 3
          team_2:
            is_winner: true
            score: 7
            is_at_home: true
            nickname: nickname
            location: location
            team_id: 6
            abbreviation: abbreviation
            linescores:
            - ""
            - ""
            venue_id: 1
        - team_1:
            is_winner: true
            score: 7
            is_at_home: true
            nickname: nickname
            location: location
            team_id: 6
            abbreviation: abbreviation
            linescores:
            - ""
            - ""
            venue_id: 1
          venue:
            name: name
            venue_id: 1
          week: 1
          coin_toss:
            coin_toss_winner: coin_toss_winner
            coin_toss_winner_election: coin_toss_winner_election
          tickets_url: tickets_url
          game_duration: 2
          game_number: 6
          play_by_play:
          - play_id: 4
            play_clock_start: play_clock_start
            field_position_end: field_position_end
            play_clock_start_in_secs: 9
            play_sequence: 5
            yards_to_go: 8
            down: 6
            play_summary: play_summary
            quarter: 9
            field_position_start: field_position_start
          - play_id: 4
            play_clock_start: play_clock_start
            field_position_end: field_position_end
            play_clock_start_in_secs: 9
            play_sequence: 5
            yards_to_go: 8
            down: 6
            play_summary: play_summary
            quarter: 9
            field_position_start: field_position_start
          date_start: 2000-01-23T04:56:07.000+00:00
          event_type:
            name: name
            title: title
            event_type_id: 7
          weather:
            sky: sky
            field_conditions: field_conditions
            temperature: 1
            wind_speed: wind_speed
            wind_direction: wind_direction
          season: 5
          attendance: 5
          game_id: 0
          event_status:
            seconds: 4
            is_active: true
            minutes: 2
            name: name
            event_status_id: 9
            yards_to_go: 1
            down: 7
            quarter: 3
          team_2:
            is_winner: true
            score: 7
            is_at_home: true
            nickname: nickname
            location: location
            team_id: 6
            abbreviation: abbreviation
            linescores:
            - ""
            - ""
            venue_id: 1
      properties:
        data:
          items:
            $ref: '#/components/schemas/Game'
          type: array
      type: object
    Game:
      example:
        team_1:
          is_winner: true
          score: 7
          is_at_home: true
          nickname: nickname
          location: location
          team_id: 6
          abbreviation: abbreviation
          linescores:
          - ""
          - ""
          venue_id: 1
        venue:
          name: name
          venue_id: 1
        week: 1
        coin_toss:
          coin_toss_winner: coin_toss_winner
          coin_toss_winner_election: coin_toss_winner_election
        tickets_url: tickets_url
        game_duration: 2
        game_number: 6
        play_by_play:
        - play_id: 4
          play_clock_start: play_clock_start
          field_position_end: field_position_end
          play_clock_start_in_secs: 9
          play_sequence: 5
          yards_to_go: 8
          down: 6
          play_summary: play_summary
          quarter: 9
          field_position_start: field_position_start
        - play_id: 4
          play_clock_start: play_clock_start
          field_position_end: field_position_end
          play_clock_start_in_secs: 9
          play_sequence: 5
          yards_to_go: 8
          down: 6
          play_summary: play_summary
          quarter: 9
          field_position_start: field_position_start
        date_start: 2000-01-23T04:56:07.000+00:00
        event_type:
          name: name
          title: title
          event_type_id: 7
        weather:
          sky: sky
          field_conditions: field_conditions
          temperature: 1
          wind_speed: wind_speed
          wind_direction: wind_direction
        season: 5
        attendance: 5
        game_id: 0
        event_status:
          seconds: 4
          is_active: true
          minutes: 2
          name: name
          event_status_id: 9
          yards_to_go: 1
          down: 7
          quarter: 3
        team_2:
          is_winner: true
          score: 7
          is_at_home: true
          nickname: nickname
          location: location
          team_id: 6
          abbreviation: abbreviation
          linescores:
          - ""
          - ""
          venue_id: 1
      properties:
        game_id:
          format: int32
          type: integer
        date_start:
          format: date-time
          type: string
        game_number:
          format: int32
          type: integer
        week:
          format: int32
          type: integer
        season:
          format: int32
          type: integer
        attendance:
          format: int32
          type: integer
        game_duration:
          format: int32
          type: integer
        event_type:
          $ref: '#/components/schemas/EventType'
        event_status:
          $ref: '#/components/schemas/EventStatus'
        venue:
          $ref: '#/components/schemas/Venue'
        weather:
          $ref: '#/components/schemas/Weather'
        coin_toss:
          $ref: '#/components/schemas/CoinToss'
        tickets_url:
          type: string
        team_1:
          $ref: '#/components/schemas/Team'
        team_2:
          $ref: '#/components/schemas/Team'
        play_by_play:
          items:
            $ref: '#/components/schemas/PlayByPlay'
          type: array
      type: object
    EventType:
      example:
        name: name
        title: title
        event_type_id: 7
      properties:
        event_type_id:
          description: |
            An integer value indicating the type of game played. Possible values are:
            0: Preseason
            1: Regular Season
            2: Playoffs
            3: Grey Cup
          enum:
          - 0
          - 1
          - 2
          - 3
          format: int32
          type: integer
        name:
          type: string
        title:
          description: |
            An string value indicating the formal title of the game. Possible values can include:
            Blank / No value
            Eastern Semi-Final
            Western Semi-Final
            Eastern Final
            Western Final
            XXXth Grey Cup
          type: string
      type: object
    EventStatus:
      example:
        seconds: 4
        is_active: true
        minutes: 2
        name: name
        event_status_id: 9
        yards_to_go: 1
        down: 7
        quarter: 3
      properties:
        event_status_id:
          description: |
            An integer value indicating the current status of the game. Possible values are:
            1: Pre-Game
            2: In-Progress
            4: Final
            9: Cancelled
          enum:
          - 1
          - 2
          - 4
          - 9
          format: int32
          type: integer
        name:
          type: string
        is_active:
          description: |
            A Boolean value indicating if play is currently live in this game. If play is live at the time of the API request, the value returned is true; else it is false.
          type: boolean
        quarter:
          description: |
            If this game is in progress, contains an integer value indicating the current quarter of play. Contains null if the game is not in play.
          format: int32
          type: integer
        minutes:
          description: |
            If this game is in progress, contains an integer value indicating the last recorded minute value of the game clock. Contains null if the game is not in play.
          format: int32
          type: integer
        seconds:
          description: |
            If this game is in progress, contains an integer value indicating the last recorded second value of the game clock. Contains null if the game is not in play.
          format: int32
          type: integer
        down:
          description: |
            If this game is in progress, contains an integer value indicating the down of the last recorded play. Contains null if the game is not in play.
          format: int32
          type: integer
        yards_to_go:
          description: |
            If this game is in progress, contains an integer value indicating the last recorded number of yards to a first down. Contains null if the game is not in play.
          format: int32
          type: integer
      type: object
    Venue:
      example:
        name: name
        venue_id: 1
      properties:
        venue_id:
          description: |
            A unique numeric value assigned to the stadium / venue the game is held within.
          format: int32
          type: integer
        name:
          description: |
            The name of the stadium / venue the game is held within.
          type: string
      type: object
    Weather:
      example:
        sky: sky
        field_conditions: field_conditions
        temperature: 1
        wind_speed: wind_speed
        wind_direction: wind_direction
      properties:
        temperature:
          description: |
            An integer value indicating the temperature taken at the stadium / venue the game is held at. Note that this value can be zero or negative.
          format: int32
          type: integer
        sky:
          type: string
        wind_speed:
          type: string
        wind_direction:
          type: string
        field_conditions:
          type: string
      type: object
    CoinToss:
      example:
        coin_toss_winner: coin_toss_winner
        coin_toss_winner_election: coin_toss_winner_election
      properties:
        coin_toss_winner:
          type: string
        coin_toss_winner_election:
          description: |
            A free-form string that contains information on the winner of the game-starting coin toss, and what the team elected to do.
            The structure of this value is not normalized and as such should be used programmatically with caution.
          type: string
      type: object
    Team:
      example:
        is_winner: true
        score: 7
        is_at_home: true
        nickname: nickname
        location: location
        team_id: 6
        abbreviation: abbreviation
        linescores:
        - ""
        - ""
        venue_id: 1
      properties:
        team_id:
          format: int32
          type: integer
        location:
          type: string
        nickname:
          type: string
        abbreviation:
          type: string
        score:
          format: int32
          type: integer
        venue_id:
          format: int32
          type: integer
        linescores:
          items:
            anyOf:
            - $ref: '#/components/schemas/LineScore'
            - $ref: '#/components/schemas/OTLineScore'
          type: array
        is_at_home:
          type: boolean
        is_winner:
          type: boolean
      type: object
    LineScore:
      properties:
        quarter:
          format: int32
          type: integer
        score:
          format: int32
          type: integer
      type: object
    OTLineScore:
      properties:
        quarter:
          type: string
        score:
          format: int32
          type: integer
      type: object
    PlayByPlay:
      example:
        play_id: 4
        play_clock_start: play_clock_start
        field_position_end: field_position_end
        play_clock_start_in_secs: 9
        play_sequence: 5
        yards_to_go: 8
        down: 6
        play_summary: play_summary
        quarter: 9
        field_position_start: field_position_start
      properties:
        play_id:
          format: int32
          type: integer
        play_sequence:
          format: int32
          type: integer
        quarter:
          format: int32
          type: integer
        play_clock_start:
          type: string
        play_clock_start_in_secs:
          format: int32
          type: integer
        field_position_start:
          type: string
        field_position_end:
          type: string
        down:
          format: int32
          type: integer
        yards_to_go:
          format: int32
          type: integer
        play_summary:
          type: string
      type: object
    ApiResponse:
      properties:
        code:
          format: int32
          type: integer
        type:
          type: string
        message:
          type: string
      type: object
  securitySchemes:
    api_key:
      in: query
      name: key
      type: apiKey
